body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0px 50px;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77ab59 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #77ab59;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
}
.about, .skills, .projects, .resume, .contact{
    margin: 10px 0px;
}

.about h2{
    background: #333;
    border-bottom: #77ab59 3px solid;
    color: white;
   
    
}
.about p{
    background-color:rgb(49, 227, 171);
    color: black;
    height: 120px;
}
.skills h2{
    background: #333;
    border-bottom: #77ab59 3px solid;
    color: white;
    
}
.skills ul{
    background-color:rgb(49, 227, 171);
    color: black;
    height: 150px;
    
    }
.skills li{
    list-style-type:lower-roman;
    margin: 0px 20px;
}

.about img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.projects h2{
    background: #333;
    border-bottom: #77ab59 3px solid;
    color: white;
   
}
.projects h3{
    text-decoration: underline;
}
.projects p{
    background-color:rgb(49, 227, 171);
    color: black;
    height: 50px; 
}
.resume h2{
    background: #333;
    border-bottom: #77ab59 3px solid;
    color: white;
    
}
.resume p{
    background-color:rgb(49, 227, 171);
    color: black;
    height: 50px; 
}
.contact h2{
    background: #333;
    border-bottom: #77ab59 3px solid;
    color: white;
}
.contact p{
    background-color:rgb(49, 227, 171);
    color: black;
    height: 50px; 
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}